<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="text-align:center">Order</h1>
    <table>
        <tbody>
            <tr>
                <td>
                    <a type="button" class="btn btn-secondary" asp-controller="ManagerPortal" asp-action="OrderDisplayAllStores">Select A Store</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="ManagerPortal" asp-action="ManagerOption" class="btn btn-danger">Back</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>