<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome To Manager Portal</h1>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg" asp-controller="Customer" asp-action="DisplayAllCustomers">Display All Customers</a>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg" asp-controller="Customer" asp-action="CreateNewCustomer" style="margin: 10px">Add New Customer</a>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg" asp-controller="Customer" asp-action="SearchForCustomer" style="margin: 10px">Search For Customer</a>
    </div>
</body>
</html>