<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome To Customer Portal</h1>
    </div>

    <div>
        <a type="button" class="btn btn-secondary btn-lg" asp-controller="Customer" asp-action="CreateNewCustomer">Register</a>
    </div>
</body>
</html>