<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Sign In</h1>

    <form asp-action="SignIn">

        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input name="p_fname" type="text" class="form-control" required>

        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="p_email" type="text" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <a asp-controller="CustomerPortal" asp-action="OpenCustomerPortal" class="btn btn-danger" style="position:relative; top:10px; width:74.5px;">Back</a>
    

</body>
</html>