

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Welcome @TempData["fName"], </h1>
    @{
        TempData.Keep("fName");
    }
    <table>
        <tbody>
            <tr>
                <td>
                    <a type="button" class="btn btn-secondary btn-lg" asp-controller="CustomerPortal" asp-action="FindAStore">Place Orders</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a type="button" class="btn btn-secondary btn-lg" asp-controller="CustomerPortal" asp-action="ViewOrderHistory">View Order History</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a type="button" class="btn btn-secondary btn-lg" asp-controller="CustomerPortal" asp-action="OpenCustomerPortal">Sign Out</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>